In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
import tensorflow as tf

In [3]:
tf.keras.backend.clear_session()

In [4]:
#Configure the model
model = tf.keras.models.Sequential([tf.keras.layers.Flatten(), 
                                    tf.keras.layers.Dense(128, activation=tf.nn.relu), 
                                    tf.keras.layers.Dense(64, activation=tf.nn.relu), 
                                    tf.keras.layers.Dense(32, activation=tf.nn.relu), 
                                    tf.keras.layers.Dense(10, activation=tf.nn.softmax)])

In [5]:
model.compile(loss='sparse_categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [6]:
df = pd.read_csv('cleaned_crunshbase.csv')

df.head()

,funding_total_usd,status,funding_rounds,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,...,Toronto,"Washington, D.C.",per_round,funding_types,funding_minus_start,funding_minus_startA,funding_minus_start_seed,funding_plus_start,funding_plus_startA,funding_plus_start_seed
0,1750000,2,1.0,1750000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1750000.0,1750000.0,1750000.0,1750000.0,0.0,1750000.0,1750000.0,3500000.0
1,40000,1,1.0,40000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,40000.0,40000.0,40000.0,40000.0,0.0,40000.0,40000.0,80000.0
2,1500000,1,1.0,1500000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1500000.0,1500000.0,1500000.0,1500000.0,0.0,1500000.0,1500000.0,3000000.0
3,60000,1,2.0,0.0,0.0,60000.0,0.0,0.0,0.0,0.0,...,0,0,30000.0,0.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0
4,2000000,1,1.0,0.0,2000000.0,0.0,0.0,0.0,0.0,0.0,...,0,0,2000000.0,2000000.0,1999999.0,0.0,2000000.0,2000001.0,4000000.0,2000000.0

In [7]:
df.status

0        2
1        1
2        1
3        1
4        1
        ..
34775    1
34776    1
34777    1
34778    1
34779    1
Name: status, Length: 34780, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
X = df.drop('status',axis=1)
y = df['status']

X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=0.33, random_state=42)

In [9]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
X_train_minmax = min_max_scaler.fit_transform(X_train)
X_test_minmax = min_max_scaler.transform(X_test)

In [10]:
model.fit(X_train_minmax, y_train.values, epochs=10)

Train on 23302 samples
Epoch 1/10
23302/23302 [==============================] - 2s 103us/sample - loss: 0.4333 - accuracy: 0.8657
Epoch 2/10
23302/23302 [==============================] - 2s 64us/sample - loss: 0.3642 - accuracy: 0.8707
Epoch 3/10
23302/23302 [==============================] - 2s 65us/sample - loss: 0.3576 - accuracy: 0.8714
Epoch 4/10
23302/23302 [==============================] - 2s 65us/sample - loss: 0.3521 - accuracy: 0.8727
Epoch 5/10
23302/23302 [==============================] - 1s 63us/sample - loss: 0.3467 - accuracy: 0.8727
Epoch 6/10
23302/23302 [==============================] - 2s 67us/sample - loss: 0.3412 - accuracy: 0.8751
Epoch 7/10
23302/23302 [==============================] - 2s 66us/sample - loss: 0.3349 - accuracy: 0.8777
Epoch 8/10
23302/23302 [==============================] - 2s 71us/sample - loss: 0.3279 - accuracy: 0.8797
Epoch 9/10
23302/23302 [==============================] - 2s 72us/sample - loss: 0.3219 - accuracy: 0.8804
Epoch 10/10
23302/23302 [==============================] - 2s 76us/sample - loss: 0.3140 - accuracy: 0.8842

In [11]:
results = model.evaluate(X_test_minmax, y_test, batch_size=128)
print('test loss, test acc:', results)

11478/11478 [==============================] - 0s 25us/sample - loss: 0.3862 - accuracy: 0.8649
test loss, test acc: [0.3862472563218647, 0.8648719]